/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*--------------------Root--------------------*/
:root{
    --blk:#000000;
    --wht:#ffffff;
    --grn:#007d7b;

    --fonts: Arial, Helvetica, sans-serif;
}

/*--------------------Whole Document--------------------*/
html{
    background-color: var(--blk);
    font-family: Arial, Helvetica, sans-serif;
}

body{
    margin: 0 auto;
    align-content: center;
    width: 485px;
}

h2{
    font-size: 2em;
    text-align: center;
    padding: 10px;
}

nav a{
    font-size: 1.25em;
}

p{
    font-size: 1.25em;
    padding: 12px 10px;
}

figcaption, label, input, small{
    font-size: 1em;
}

/*--------------------Header--------------------*/
h1{  
    color: var(--grn);
    background-color: var(--wht);
    font-size: 3em; 
   }

nav ul{
    color: var(--wht);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    padding: 25px 50px;
}

nav li{
    display: block;
}

nav a{
    color: var(--wht);
    display: block;
    text-decoration: none;
    padding: 5px;
}

[href="#top"]{
    position: fixed;
    bottom: 0px;
    right: 20px;
}

/*--------------------Main--------------------*/
main{
    background-color: var(--wht);
}

img{
    display: block;
    margin: 15px auto;
}

figcaption{
    text-align: center;
}

figcaption[title="btm-blk"]{
    color: var(--blk);
    position: relative;
    top: -43px;
    text-transform: uppercase;
}

figcaption[title="btm-wht"]{
    color: var(--wht);
    position: relative;
    top: -43px;
    text-transform: uppercase;
}

figcaption[title="top-wht"]{
    color: var(--wht);
    position: relative;
    top: -279px;
    text-transform: uppercase;
}
figcaption[title="top-blk"]{
    color: var(--blk);
    position: relative;
    top: -277px;
    text-transform: uppercase;
}

figcaption[title="long-pic"]{
    color: var(--blk);
    position: relative;
    top: -625px;
    text-transform: uppercase;
}

#contact{
    background-color: var(--blk);
}

#contact h2, #contact p, #contact label{
    color: var(--wht);
}

#contact p{
    text-align: center;
}
/*--------------------Form--------------------*/
form{
    display: flex;
    flex-direction: column;
}

label{
    color: var(--wht);
    margin-top: 10px;

}

input{
    margin-bottom: 10px
}

::placeholder{
    color: var(--grn);
}

input[type="submit"]{
    border-radius: 18px;
    width: 263px;
    justify-items: center;
    height: 40px;
    margin: 15px auto;
}
/*--------------------Footer--------------------*/
footer{
    margin: 0 auto;
    text-align: center;
}

small{
    color: var(--wht);
}

/*--------------------Media Queries--------------------*/
